body {
    font-family: Arial, sans-serif;
}

.container {
    width: 600px;
    margin: auto;
    text-align: center;
}

.kotak-input {
    display: block;
    resize: none;
    width: 100%;
    margin-top: 10px;
}

p > span {
    color: coral;
    font-weight: bold;
}